		<link rel="stylesheet" href='/css/rosterstyles.css' type="text/css" />

		<div class='mainDiv'>
			<div class='div1'>
				<!-- LOGIN BUTTON HERE -->
				<img class='logo' src="http://www.stephenkirkmd.com/sahslogonew.jpg"></img>
			</div>
			<div class='login'>
				<a href="#" class='loginText' >Login</a>
			</div>
			<div class='div2'>
				<a href="#" class="myButton">Home |</a>

				<a href="#" class="myButton">Schedule |</a>

				<a href="#" class="myButton">Staff |</a>

				<a href="#" class="myButton">Contact</a>

			</div>
			<div class='input'>
				<input type='text' ng-model='newPlayerNumber' placeholder='Player number..'/>
				<input type='text' ng-model='newPlayerName' placeholder='Player name..'/>
				<input type='text' ng-model='newPlayerPosition' placeholder='Player position..'/>
				<button ng=click='addPlayer()'>Add Player</button>
			</div>
			<div class='text' ng-repeat='player in players'>
					{{player.number}} / {{player.name}} / {{player.position}}
			</div>
			<div class='bottom-text'>
				<h1>2014 2A State Runner Ups</h1> 
			</div>
		</div>
